<ul class="collection services">
    {{#each data.services}}
        <li id="service-{{@key}}" class="collection-item avatar">
            <i class="circle fa"></i>
            <span class="title">{{this.name}}</span>
            <p>
                {{this.type}}, <i>{{@key}}</i>
            </p>

            <a href="#!" class="secondary-content refresh-service" data-service="{{@key}}">
                <i class="material-icons">refresh</i>
            </a>
        </li>
    {{/each}}
</ul>
<ul class="collection">
    <li class="collection-item avatar">
        <i class="circle fa fa-cog fa-spin"></i>
        <span class="title">Loading Service</span>
        <p>
            <b>{service_type}</b>,
            last checked on <b>{last_checked_time}</b>
        </p>
        <p>
            {service_description}
        </p>

        <a href="#!" class="disabled secondary-content grey-text"><i class="material-icons">info</i></a>
    </li>
    <li class="collection-item avatar">
        <i class="circle green fa fa-check"></i>
        <span class="title">Operational Service</span>
        <p>
            <b>{service_type}</b>,
            last checked on <b>{last_checked_time}</b>
        </p>
        <p>
            {service_description}
        </p>

        <a href="#!" class="secondary-content"><i class="material-icons">info</i></a>
    </li>
    <li class="collection-item avatar">
        <i class="circle orange fa fa-exclamation-triangle"></i>
        <span class="title">Operational Service with Warning</span>
        <p>
            <b>{service_type}</b>,
            last checked on <b>{last_checked_time}</b>
        </p>
        <p>
            {service_description}
        </p>

        <a href="#!" class="secondary-content"><i class="material-icons">info</i></a>
    </li>
    <li class="collection-item avatar">
        <i class="circle red fa fa-remove"></i>
        <span class="title">Failed Service</span>
        <p>
            <b>{service_type}</b>,
            last checked on <b>{last_checked_time}</b>
        </p>
        <p>
            {service_description}
        </p>

        <a href="#!" class="secondary-content"><i class="material-icons">info</i></a>
    </li>
    <li class="collection-item avatar grey-text">
        <i class="circle fa fa-pause-circle"></i>
        <span class="title">Disabled Service</span>
        <p>
            <b>{service_type}</b>,
            last checked on <b>{last_checked_time}</b>
        </p>
        <p>
            {service_description}
        </p>

        <a href="#!" class="secondary-content"><i class="material-icons">info</i></a>
    </li>
</ul>
