<!DOCTYPE html>
<html>
<head>
    <!-- Page Title -->
    <title>{{title}}</title>

    <!-- META Info -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Style Import -->
    <link rel="stylesheet" href="{{ROOT_DIR}}/css/material-design-icons.css">
    <link rel="stylesheet" href="{{ROOT_DIR}}/css/materialize.min.css">
    <link rel="stylesheet" href="{{ROOT_DIR}}/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ROOT_DIR}}/css/style.css">
</head>
<body>
    {{{body}}}

    <!-- JS Import -->
    <script src="{{ROOT_DIR}}/js/jquery.min.js"></script>
    <script src="{{ROOT_DIR}}/js/materialize.min.js"></script>
    <script src="{{ROOT_DIR}}/js/custom.js"></script>
    <script src="{{ROOT_DIR}}/js/headline-fader.js"></script>
</body>
</html>
